{% extends 'my_app/base.html' %}
{% block content  %}
<h1 class="font-bold text-2xl m-10">+ ADD Product</h1>
<form class="bg-white w-3/5 shadow-md m-10 px-8 py-8" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Product Name</label>
        <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="text" name="name" id="name" placeholder="example: iphone">
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Product Price</label>
        <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="text" name="price" id="price" placeholder="example: 500$">
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Product Description</label>
        <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="text" name="desc" id="desc" placeholder="example: This is iphone">
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Product Image</label>
        <input class="py-2" type="file" name="upload" id="upload" >
    </div>

    <div class="mb-4">
        <input class="bg-green-500 text-white px-5 py-2" type="submit" accept="image/*" value="Add Product">
    </div>
    
</form>

{% endblock  %}